@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Oswald-Bold';
    src: url('./../fonts/Oswald-Bold.ttf');
}

@font-face {
    font-family: 'Oswald-Medium';
    src: url('./../fonts/Oswald-Medium.ttf');
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url('./../fonts/Oswald-Regular.ttf');
}

:root {
    --primary: #0C1234;
    --onPrimary: #FFFFF0;
    --tertiary: #00FFE0;
    --onTertiary: #0D1117;
    --secondary: #808080;

}

body {
    font-family: 'Oswald-Regular', sans-serif;
    background-color: var(--primary);
    color: var(--onPrimary);   
    scroll-behavior: smooth; 
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--tertiary);
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

h1 {
    font-family: 'Oswald-Bold', sans-serif;
}

h2 {
    color: var(--tertiary);
}

p {
    color: var(--secondary);
    font-size: 1.125rem;
}

input, select {
    background-color: #1d2849;
    outline-style: none;
}

label {
    color: var(--secondary);
    font-size: .85rem;
}

.img-glow-effect {
    box-shadow: 20px 20px 40px 20px #0ff;
}

.frosted-glass {
    backdrop-filter: blur(15px);
}

/* colors */
.color-tertiary { color: var(--tertiary) }

.color-on-tertiary { color: var(--onTertiary) }

#hero, header { 
    color: var(--onPrimary);   
}

#hero {
    background-color: var(--primary);
}

footer {
    background-color:#0D1117;
}

#getting-started {
    background: linear-gradient(to bottom, #0C1234, var(--onTertiary) 40%);
    overflow-x: hidden;
}

#about {
    color: #0D1117;
    background-color: var(--onPrimary);
}

/* Modifying list markers */
summary {
    list-style-image: url("./../images/add-thick.svg");
    padding: 1.5rem 0;
    cursor: pointer;
    font-family: 'Oswald-Medium', sans-serif;
    list-style-position: inside;
    outline: none;
}

details > p {
    padding-left: 3ch;
}

details[open] > summary {
    list-style-image: url("./../images/minus-thick.svg");
}


@layer components {
    .btn {
        @apply px-3 py-2 hover:font-bold hover:shadow-lg;
    }

    .btn-transparent {
        @apply rounded-3xl text-[#FFF] border-2 border-[#FFF] hover:bg-[#FFF] hover:text-black; 
    }

    .btn-cta {
        @apply rounded-3xl bg-[#00FFE0] text-[#0D1117]; 
    }

    .btn-transparent-noborder {
        @apply rounded-3xl  text-[#000];
    }

    .card {
        @apply max-w-lg shadow-lg px-4 py-6 rounded-lg;
    }

    .page-margin {
        @apply w-full px-5 py-16 lg:px-10 2xl:container 2xl:mx-auto;
    }

    .form-input {
        @apply flex flex-col bg-[#1d2849] rounded-2xl mx-0 m-4 py-2 px-3 md:px-6;
    }

    .form {
        @apply w-full lg:max-w-lg
    }
}